@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Rubik+Wet+Paint&family=Silkscreen&family=Waiting+for+the+Sunrise&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Josefin+Sans:wght@100&family=Rubik+Wet+Paint&family=Silkscreen&family=Waiting+for+the+Sunrise&display=swap');

@keyframes animacion{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


body {
    background-image: url(../imagenes/fondoPrincipal.png);
    /*background-image: url(https://preview.redd.it/cqfu2y2aojv61.jpg?width=960&crop=smart&auto=webp&s=f2f80cb07fa81a95a6a847a192fc0819297c9bbd);*/
    background-size: cover; /* Para ajustar la imagen al tamaño de la ventana del navegador */
    background-repeat: no-repeat; /* Para evitar que la imagen se repita */
    background-position: center center; /* Para que la imagen esté centrada */
    background-attachment: fixed; /* Para evitar que la imagen se mueva */
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    text-align: left;
    
}

/*####################################################################################################*/
/*##################################### Barra de Navegación ##########################################*/
/*####################################################################################################*/

.menu{
    background-color: #00000055;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 3%;
    position: sticky;
    top: 0;
    z-index: 1;
}
.menu .personaje_game img{
    width: auto;
    height: 60px;
    transition: all 0.3s;
}
.menu .personaje_game{
    cursor: pointer;
}
.menu .personaje_game:hover{
    transform: scale(1.2);
}
.menu .nav_links{
    list-style: none;
}
.menu .nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.menu .nav_links li:hover{
    transform: scale(1.1);
}
.menu .nav_links a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: 'Silkscreen', fantasy;
}
.menu .nav_links a:hover{
    color: #802e2e;
}
.menu .play button{
    font-weight: 700;
    color: black;
    padding: 9px 25px;
    background: #802e2e;
    border: 2px solid #802e2e;
    border-radius: 50px;
    cursor: pointer;
    transform: all 0.3s ease 0s;
    animation: animacion 3s infinite;
    font-family: 'Silkscreen', fantasy;
}
.menu .play button:hover{
    background: none;
    color: white;
    border: 2px solid white;
    transform: scale(1.1);
}

/*###########################################################################################*/
/*##################################### Encabezado ##########################################*/
/*###########################################################################################*/

.encabezado_titulo{
    display: flexbox;
    color: white;
    text-align: center;
    height: 100%;
    font-size: 35px;
    background: none;
    justify-content: center;
    padding: 10px;
    padding: 50px 50px;
    font-family: 'Silkscreen', fantasy;
}

#titulo{
    font-family: 'Silkscreen', fantasy;
    font-size: 100px;
    text-shadow: 2px 2px 4px #000; /* Sombra de texto */
    letter-spacing: 4px; /* Espaciado entre letras */
    text-transform: uppercase; /* Transforma el texto a mayúsculas */
    color: #802e2e; /* Color del texto */
    padding: 10px;
    animation-duration: 3s;
    animation-name: slidein;
}

/*#############################################################################################*/
/*##################################### Estadisticas ##########################################*/
/*#############################################################################################*/


.statistics_menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 85px;
    padding: 5px 3%;
}
.statistics_menu .nav_links1{
    list-style: none;
}
.statistics_menu .nav_links1 li{
    display: inline-block;
    padding: 0px 20px;
}
.statistics_menu .nav_links1 li:hover{
    transform: scale(1.1);
}
.statistics_menu .nav_links1 {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: 'Silkscreen', fantasy;
}
.statistics_menu .nav_links1 :hover{
    color: #802e2e;
}
.statistics_menu .submitButton{
    font-weight: 700;
    color: black;
    padding: 9px 25px;
    background: #802e2e;
    border: 2px solid #802e2e;
    border-radius: 50px;
    cursor: pointer;
    transform: all 0.3s ease 0s;
}
.statistics_menu .submitButton:hover{
    background: none;
    color: white;
    border: 2px solid white;
    transform: scale(1.1);
}






.statistics{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons{
    display: flex;
    flex-direction: row;
}

.button{
    /*margin-right: 20px;*/
    margin-left: 20px;
    padding: 20px;
    justify-content: space-around;

}
.submitButton {
    /* width: 200px; */
    height: 100%;
    font-size: 15px;
    font-family: 'Silkscreen', fantasy;
    justify-items: center;
  }

.answearStatistics{
    /* height: 100%; */
    width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 10fr;
    padding-bottom: 10fr;
}

#RespuestasTablas{
    font-size: 50px;
    font-family: 'Silkscreen', fantasy;
    color: #802e2e;
    text-shadow: 2px 2px 4px #000;
    letter-spacing: 4px;
    text-transform: uppercase;
    background: rgba(90, 87, 87, 0.486);
    border-radius: 20px;
}
  

/*##################################################################################################*/
/*##################################### Comienzo Historia ##########################################*/
/*##################################################################################################*/


.his{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #1c1919c7;
    padding: 20px 20px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    margin: 2px;
}
.estilo_his{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 10px;
    align-items: center;
}
.titulo_his{
    font-size: 50px;
    font-family: 'Silkscreen', fantasy;
    color: #802e2e;
    text-shadow: 2px 2px 4px #000;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.contenido_his{
    /*font-size: 20px;*/
    justify-items: center;
}
#img_backrooms{
    /*width: 700px;
    height: 300px;
    padding: 10px;
    margin: 20px;*/
    width: 50vw;
    height: 25vw;
    padding: 10px;
    margin: 20px;
}

/*###########################################################################################################*/
/*##################################### Información proyecto INTRO ##########################################*/
/*###########################################################################################################*/


.info_intro{
    
    display: flex;
    justify-content: center;  
    background-color: rgba(90, 87, 87, 0.486);
    padding: 20px 20px;
    border-radius: 20px;
    flex-wrap: wrap;
   
    
    /*
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    padding: 20px;
    border: solid 2px #802e2e;
    max-width: 100vw;*/
}
#introTitulo{
    font-size: 50px;
    font-family: 'Silkscreen', fantasy;
    color: #802e2e;
    text-shadow: 2px 2px 4px #000;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.intro{
    /*
    display: flex;
    background: rgba(90, 87, 87, 0.486);
    border-radius: 20px;
    padding: 10px;
    border: solid 2px #802e2e;
    max-width: 50vw;
    flex-direction: column;
    justify-items: center;*/
    display: grid;
    border-radius: 20px;
    height: 100%;
    width: 700px;
    justify-items: center;
    padding: 10px 20px;
}
#methTitulo{
    font-size: 50px;
    font-family: 'Silkscreen', fantasy;
    color: #802e2e;
    text-shadow: 2px 2px 4px #000;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.meth{
    /*
    display: flex;
    background: #1c1919c7;
    border-radius: 20px;
    padding: 10px;
    border: solid 2px #802e2e;
    max-width: 45vw;
    justify-items: center;
    flex-direction: column;*/
    display: grid;
    border-radius: 20px;
    height: 100%;
    width: 700px;
    justify-items: center;
    padding: 10px 20px;
}
.img_meth{
    width: 35vw;
    height: 25vw;
    padding: 10px;
    margin: 20px;
}


/*#######################################################################################################*/
/*##################################### Espacio de Video Juego ##########################################*/
/*#######################################################################################################*/


.videojuego_contenido{
    display: flex;
    justify-content: center;
}
.videojuego{
    display: grid;
    background: #1c1919c7;
    border-radius: 20px;
    height: 100%;
    width: 700px;
    justify-items: center;
    padding: 10px 20px;
}
.titulo_video{
    font-family: 'Silkscreen', fantasy;
    color: #802e2e;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000;
    letter-spacing: 4px;
    text-transform: uppercase;
}


/*#####################################################################################################*/
/*##################################### Información Nosotros ##########################################*/
/*#####################################################################################################*/


.info_nosotros{
    display: flex;
    /*justify-content: end;*/
    height: 100%;
    background-color: #1c1919c7;
    padding: 20px 20px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    margin: 2px;
}
.info{
    /*display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 10px;
    align-items: end;
    border: solid 2px #802e2e;
    justify-content: end;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    width: auto;
    height: auto;
}
.titulo_nosotros{
    font-size: 50px;
    font-family: 'Silkscreen', fantasy;
    color: #802e2e;
    text-shadow: 2px 2px 4px #000;
    letter-spacing: 4px;
    text-transform: uppercase;
}
#img_nosotros{
    width: 25vw;
    height: 25vw;
    padding: 10px;
    margin: 20px;
    border-radius: 50%;
}

/* ########################################################################################*/
/* ################################## Controles ###########################################*/
/* ########################################################################################*/


#titulo_controles{
    display: flex;
    font-family: 'Silkscreen', fantasy;
    font-size: 50px;
    color: #802e2e;
    align-items: center;
    text-shadow: 2px 2px 4px #000;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 0.5vw;
    justify-content: center;
}
.controles{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(90, 87, 87, 0.486);
    padding: 20px 20px;
    border-radius: 20px;
    flex-direction: row;
    align-items: center;
    margin: 2px;
}
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px;
}
.game_controles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2%;
    
    align-items: center;
    width: 100%;
    height: 100%;
}
#img_teclas{
    width: 100%;
    height: 20vw;
    padding: 10%;
    margin: 2%;
    
}
#img_teclas2{
    width: 100%;
    height: 20vw;
    padding: 10%;
    margin: 2%;
    
}
#img_teclaE{
    width: 100%;
    height: 20vw;
    padding: 10%;
    margin: 2%;
    
}
#letraE{
    font-size: 35px;
    font-family: 'Silkscreen', fantasy;
    color: #802e2e;
    text-shadow: 2px 2px 4px #000;
}
.texto_controles{
    grid-column-start: 1;
    grid-column-end: 4;
    justify-content: center;
}
#gif_personaje{
    /*width: 40vw;
    height: 20vw;
    margin: 2%;*/
    width: 40vw;
    height: 20vw;
    margin: 2%;
    padding-left: 15%;
}
#img_mouse{
    width: 100%;
    height: 30vw;
    padding: 30%;
    margin: 2%;
}
#gif_disparo{
    width: 40vw;
    height: 20vw;
    margin: 2%;
    padding-left: 15%;
}

/* ######################################################################################*/
/* #################################### Resultados ######################################*/
/* ######################################################################################*/

.PruebaResultados{
    display: flex;
    border-radius: 20px;
    height: 100%;
    background-color: rgba(90, 87, 87, 0.486);
    padding: 20px;
    flex-direction: column;
    align-items: center;
    margin: 2px;
}
.resultadosTitulo{
    font-size: 50px;
    font-family: 'Silkscreen', fantasy;
    color: #802e2e;
    text-shadow: 2px 2px 4px #000;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.resultados2contenido{
    display: flex;
    border-radius: 20px;
    height: 100%;
    padding: 20px;
    align-items: center;
    margin: 2px;
    flex-direction: row;
}
.contenidoResultados{
   
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 20px;
    width: 100%;
    height: auto;
}
.contenidoResultados ul{
    padding:20px;
}
.img_Resultados{
    width: 25vw;
    height: 25vw;
    padding: 10px;
    margin: 20px;
}
#game
{
    width: 100%;
    height: 100%;
    background-color: #000000;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}



/*#######################################################################################*/
/*##################################### Footer ##########################################*/
/*#######################################################################################*/
.redesSociales{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    height: 100%;
    width: 100%;
    font-size: 14px;
}
#insta{
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
}